# .env.example
PORT=3000

# AI API Keys
AI_PROVIDER=cloudflare # openai, gemini, cloudflare
GEMINI_API_KEY=your_gemini_api_key
OPENAI_API_KEY=your_openai_api_key
CF_AI_TOKEN=your_cloudflare_ai_token
CF_ACCOUNT_ID=your_cloudflare_account_id
CF_AI_GATEWAY_SLUG=default
ANTHROPIC_API_KEY=your_anthropic_api_key
DEEPSEEK_API_KEY=your_deepseek_api_key
GROQ_API_KEY=your_groq_api_key
XAI_API_KEY=your_xai_api_key
CLOUDFLARE_ACCOUNT_ID=your_account_id
CLOUDFLARE_API_TOKEN=your_api_token
CLOUDFLARE_D1_DATABASE_ID=your_database_id

# Cloudflare R2 Configuration
R2_ACCESS_KEY_ID=e1a75066d3151bc3bbe2310725959956
R2_SECRET_ACCESS_KEY=515d1f67af5ea23a2445aa68c0ab7276cea4a72fb4f51f90ac2e543d194251ae
R2_BUCKET_NAME=baccarat-master-assets
R2_ENDPOINT=https://93e32ffc30b48a53f97a400faaaec377.r2.cloudflarestorage.com
R2_PUBLIC_DEV_URL=https://pub-xxxxxxxx.r2.dev
